body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.text-center .img-responsive {
	margin: 0 auto;
}

.btn-principal {
	color: #ffffff;
	background-color: #611BBD;
	border-color: #49009C;
}

.btn-principal:hover, .btn-principal:focus, .btn-principal:active,
	.btn-principal.active, .open .dropdown-toggle.btn-principal {
	color: #ffffff;
	background-color: #49247A;
	border-color: #49009C;
}

.btn-principal:active, .btn-principal.active, .open .dropdown-toggle.btn-principal
	{
	background-image: none;
}

.btn-principal.disabled, .btn-principal[disabled], fieldset[disabled] .btn-principal,
	.btn-principal.disabled:hover, .btn-principal[disabled]:hover, fieldset[disabled] .btn-principal:hover,
	.btn-principal.disabled:focus, .btn-principal[disabled]:focus, fieldset[disabled] .btn-principal:focus,
	.btn-principal.disabled:active, .btn-principal[disabled]:active,
	fieldset[disabled] .btn-principal:active, .btn-principal.disabled.active,
	.btn-principal[disabled].active, fieldset[disabled] .btn-principal.active
	{
	background-color: #611BBD;
	border-color: #49009C;
}

.btn-principal .badge {
	color: #611BBD;
	background-color: #ffffff;
}

.btn-secundario {
	color: #ffffff;
	background-color: #4D78E3;
	border-color: #6969DB;
}

.btn-secundario:hover, .btn-secundario:focus, .btn-secundario:active,
	.btn-secundario.active, .open .dropdown-toggle.btn-secundario {
	color: #ffffff;
	background-color: #2A54FA;
	border-color: #6969DB;
}

.btn-secundario:active, .btn-secundario.active, .open .dropdown-toggle.btn-secundario
	{
	background-image: none;
}

.btn-secundario.disabled, .btn-secundario[disabled], fieldset[disabled] .btn-secundario,
	.btn-secundario.disabled:hover, .btn-secundario[disabled]:hover,
	fieldset[disabled] .btn-secundario:hover, .btn-secundario.disabled:focus,
	.btn-secundario[disabled]:focus, fieldset[disabled] .btn-secundario:focus,
	.btn-secundario.disabled:active, .btn-secundario[disabled]:active,
	fieldset[disabled] .btn-secundario:active, .btn-secundario.disabled.active,
	.btn-secundario[disabled].active, fieldset[disabled] .btn-secundario.active
	{
	background-color: #4D78E3;
	border-color: #6969DB;
}

.btn-secundario .badge {
	color: #4D78E3;
	background-color: #ffffff;
}